body {
  font-family: 'Arial', sans-serif;
  background-color: #E9ECEF; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #3498DB; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 0px; 
}

.mb-3{input[type="text"],
  input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px; 
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}